@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 15 23 42;
}

html, body, :root {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}


@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 3s ease-in-out infinite alternate;
}


